.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
}
.card{
    position: relative;
    height: 100px;
    width: 160px;
    border-radius: 4px;
}
.card img{
    height: 100px;
    width: 160px;
    border-radius: 10px;
    object-fit: cover;
}
.card .infos{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transform: scaleY(0);
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.2);
    z-index: 2;
  }
.card:hover .infos {
    opacity: 1;
    transform: scaleY(1);
  }

.input-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background: #282c34;
    border-radius: 20px;
    padding: 15px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}
.input-container .input-range{
    width: 25%;
}
.input-container .input-radios{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #61dafb;
}
.input-container .input-radios label{
    display: flex;
    align-items: center;
}
.input-container .input-radios label input{
    margin-right: 7px;
}